@import "vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "vendor/bower_components/bootswatch-sass/yeti/variables";
@import "vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "vendor/bower_components/bootswatch-sass/yeti/bootswatch";
@import "node_modules/react-select/dist/react-select";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$blue: #008cba;
$light-blue: lighten($blue, 20%);

body.login {
  background: $blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, $blue, $light-blue);
  background: -moz-linear-gradient(right, $blue, $light-blue);
  background: -o-linear-gradient(right, $blue, $light-blue);
  background: linear-gradient(to left, $blue, $light-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .container {
    min-height: 100%;
  }

  .form {
    position: relative;
    background: #FFFFFF;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: 40vh;
    margin-top: -160px;
  }

  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    text-transform: uppercase;
    outline: 0;
    background: $blue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: darken($blue, 5%);
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .message a {
    color: $blue;
    text-decoration: none;
  }

  .errors {
    margin-top: 15px;

    .alert {
      font-weight: normal;
    }
  }

  .logo {
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
